.search-bar {
  border-radius: 0;
  border: 1px solid rgba(65, 4, 114, 0.3);

  .search-field,
  .search-btn {
    height: 70px;
  }
  .search-btn {
    background-color: #320059;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
  }
  .search-btn:active {
    padding-top: 5px;
  }
}
