.search-bar {
  background-color: rgba(65, 4, 114, 0.3);
  border-color: transparent;
  border-radius: 0;
	border: 1px solid transparent;
  height:100px;

	h6 {
		padding: 5px 5px 6px 5px;
    margin: 0px;
	}
	.btn-search-item {
    border-right: 1px solid rgba(65, 4, 114, 0.3);
    background-color: white;
		height: 60px;
		color: #320059;
    padding:0;
  }

	.btn-search-btn {
		background-color: #320059;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
		h4, i {
			color: white;
		}
	}
	.btn-search-btn:hover {
		background-color: #410472;
	}
  .btn-search-btn:active {
    vertical-align: middle;
    padding-top: 1px;
  }

.Select {
  .Select-control {
    border: none;
    border-radius: 0px;
    font-size: 18px;
    .Select-placeholder {
      color: #320059;
    }
  }
}
.is-focused:not(.is-open) > .Select-control {
	box-shadow: none;
}
}
