.profile-listcard {
  color: #320059;
  -webkit-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.26);
  -moz-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.26);
  box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.26);
  margin-top: 20px;
  min-width: 100px;
  .profile-card-title-container {
    background-color: white;
    min-height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    h4 {
      display: inline;
      padding: 5px;
    }
    i {
      position: relative;
      right: 5px;
      top: 5px;
      display: inline;
    }
  }
  .profile-card-img-container {
    //background-image: url(https://placehold.it/275x200);
    background-color: grey;
    //width: 275px;
    height: 150px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    .profile-img {
      position: absolute;
      min-height: 250px;
      min-width: 600px;
    }
  }
  .profile-card-details-container {
    padding: 10px;
    height: 150px;
    background-color: white;
    border-bottom: 1px solid rgba(65, 4, 114, 0.3);
    border-top: 1px solid rgba(65, 4, 114, 0.3);
    .profile-summary {

    }
    .profile-location {
      vertical-align: bottom;
      p {
        font-size: 1.1vw;
      }
    }
  }
  .profile-card-icons-container {
    padding-top: 5px;
    font-size: 10px;
    min-height: 40px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    //line-height: 40px;
  }
}
